body {
    margin: 0; padding: 0;
    text-align: center;
}

main.container {
    margin: 1em;
    font-size: 1.5em;
    animation: show 1s ease-out;
}

main.container > button {
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: #eee;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
    padding: 0.25em 1em;
    font-size: 30px;
    outline: none;
}

main.container > button:hover {
    box-shadow: 2px 5px 12px rgba(0, 0, 0, 0.7);
    transition: 0.3s;
}

@keyframes show {
    0% {
        opacity: 0;
        transform: translate(-100%)
    }
    100% {
        
    }
}